# .env.example

# MongoDB URI
MONGODB_URI=<Your MongoDB URI>

# JWT Secret
JWT_SECRET=<Your JWT Secret>

# Google Maps API Key
GOOGLE_MAPS_API_KEY=<Your Google Maps API Key>

# Firebase Config
FIREBASE_CONFIG={
  "apiKey": "<Your Firebase API Key>",
  "authDomain": "<Your Firebase Auth Domain>",
  "projectId": "<Your Firebase Project ID>",
  "storageBucket": "<Your Firebase Storage Bucket>",
  "messagingSenderId": "<Your Firebase Messaging Sender ID>",
  "appId": "<Your Firebase App ID>"
}

# Port settings
PORT=<Your Port>